<style>
    .mobile-menu {
        display: block;
        position: fixed;
        top: 15px;
        left: 15px;
        z-index: 500;
        width: 30px;
        height: 30px;
        padding: 3px;
        background-color: #f0f0f0;
        border: 0;
    }

    .mobile-menu i {
        font-size: 1.5em;
    }

    .menuwrap {
        position: fixed;
        top: 0;
        left: -202px; /* 너비 300px 인 사이드바를 왼쪽으로 300px 이동시켜 화면에 보이지 않게 함 */
        z-index: 400;
        overflow: auto;
        width: 200px; /* 너비 */
        height: 100%;
        padding: 80px 5px;
        box-sizing: border-box;
        transition: left .3s ease-in-out; /* 0.3초 동안 이동 애니메이션 */
        background-color: #f0f0f0;
    }

    .menuwrap.on {
        left: 0;
    }

    #dimmed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 300;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
</style>

<button type="button" class="mobile-menu"><i class="fas fa-bars"></i></button>
<div class="menuwrap">
    <nav id="menu">
        <!-- "메뉴목록 표시" -->
        <ul class="category_list">
            <li class=""><a class="link_sub_item" href="/">산 정보 검색</a></li>
            <li class=""><a class="link_sub_item" href="/course">코스 찾기</a></li>
            <li class=""><a class="link_sub_item" href="/tip">등린이 꿀팁 모음</a></li>
        </ul>
    </nav>
</div>