<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Webpage Title -->
    <title>등산의 모든 것</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <style type="text/css">
        * {
            font-family: 'Poor Story', cursive;
        }

        #cards-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
{% include 'menubar.html' %}
<div id="cards-box" class="card-columns">
    <div class="card" style="width: 18rem;">
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        let name = "{{ name }}"
        findMountain(name)
    })

    function selectMountain(name, code) {
        location.href = `/result?name=${name}&code=${code}`
    }

    function findMountain(name) {
        $.ajax({
                type: "GET",
                url: "/find_mt",
                data: {
                    'name': name
                },
                success: function (response) {
                    if (response["result"] === "success") {
                        let rows = response["data"];
                        for (let i = 0; i < rows.length; i++) {
                            let row = rows[i]
                            let img = row["mntnattchimageseq"]
                            let name = row["mntnnm"]
                            let location = row["mntninfopoflc"]
                            let code = row["mntnid"]
                            let temp = `<div class="card" style="width: 18rem;">
                                                <img src="${img}" class="card-img-top" alt="mountainImage">
                                                <div class="card-body">
                                                    <h5 class="card-title">${name}</h5>
                                                    <p class="card-text">${location}</p>
                                                    <button onclick="selectMountain('${name}', '${code}')" type="button" class="btn btn-primary">선택</button>
                                                </div>
                                            </div>`
                            $('#cards-box').append(temp)
                        }
                    }
                }
            }
        )
    }
</script>

</html>

